# 1. Import Libraries

In [1]:
# import pandas, numpy, and matplotlib libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 2. Import Loans Data Set

In [2]:
# import csv vile into pandas data frame
df = pd.read_csv("data/loan_totals.csv",index_col='Institution').drop('UnitID',axis=1)

In [3]:
# check first few records. 
# each row is a higher education institution.
# column is total pell amount received by years (2020-2008)
df.head()

,LOAN2020,LOAN2019,LOAN2018,LOAN2017,LOAN2016,LOAN2015,LOAN2014,LOAN2013,LOAN2012,LOAN2011,LOAN2010,LOAN2009,LOAN2008
Institution,,,,,,,,,,,,,
A Better U Beauty Barber Academy,259121.0,145899.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A T Still University of Health Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aaniiih Nakoda College,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ABC Adult School,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC Beauty Academy,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN

# 3. Format Data and Create New Columns

In [4]:
# replace NaN with 0
df = df.fillna(0)

df = df/1000000

In [5]:
# reverse the order of the columns in df2
df = df.iloc[:, ::-1]

In [6]:
# create new column Pell Total which totals the Pell grant received by each institution
df['LoanTotal'] = df.sum(axis=1)

# 4. Top Institutions (Most Dollars Received)

### Top Institutions Returned as a DataFrame

In [7]:
# Define function that will return institutions that received the most dollars in millions
def top_inst(num): # num = number of institutions
    top = df.sort_values(by="LoanTotal",ascending=False)['LoanTotal'].to_frame().head(num)
    return top

In [8]:
# top 10 institutions
df_top = top_inst(10)

In [9]:
df_top

                                             LoanTotal
Institution
University of Phoenix-Arizona              4238.023265
Ashford University                         2843.546725
Liberty University                         2638.693945
Southern New Hampshire University          2593.919195
Grand Canyon University                    2551.238100
Western Governors University               1873.351416
University of Central Florida              1814.263614
Arizona State University Campus Immersion  1760.559239
Temple University                          1653.300839
Texas State University                     1609.142822

### Top Institutions Plotted as a Bar Plot

In [ ]:
# function which does a bar plot of top institutions
def plot_top(d, num):
    
    top = d.sort_values(by="LoanTotal",ascending=False)['LoanTotal'].to_frame().head(num)
    
    
    # Set the font size for the labels
    label_fontsize = 4

    # Increase the size of the graph
    fig_width = 10
    fig_height =8 
    
    plt.figure(figsize=(fig_width, fig_height))
    plt.grid()

    plt.bar(top.index, top['LoanTotal'])
    plt.xlabel('Institution',fontsize=label_fontsize)
    plt.ylabel('Millions')
    plt.title(' Totals - 2008 - 2020')
    plt.xticks(rotation=90)

    # Show the labels based on the index values
    plt.xticks(ticks=range(len(top.index)), labels=top.index)

    plt.tight_layout()
    plt.show()

In [ ]:
plot_top(df,20)


 # 5. Individual Institutions

In [ ]:
# function Returns Pell Amount by Year
def get_inst(d, institution):
    row = d.loc[institution].to_frame()
    return row

In [ ]:
# Example usage
inst = "Ashford University"
r = get_inst(df, inst)
r

In [ ]:
# function plots 
def plot_inst(dataframe,institution):
    row = dataframe.loc[institution].to_frame().drop('LoanTotal')
    

    x_values = range(len(row))
    y_values = row.values

    plt.bar(row.index, row[institution])
    plt.xlabel('Year')
    plt.ylabel('Loan Total (Millions)')
    plt.title('%s' %institution)
    plt.xticks(x_values, row.index, rotation=90)  # Set x-axis labels as column names with rotation
    plt.tight_layout()
    plt.show()
    plt.tight_layout()
    plt.show()

In [ ]:
plot_inst(df,'Ashford University')